/* Style Globaux */

/* Titre principale */
h1 {

    font-family: Cookie;
    letter-spacing: 0.25em;
    font-size: 25px;
    margin-top: 45px;
    color: #585858;

}
/* Barre de délimitation entre les parties */
hr {

    background-color: #FACC2E;
    height: 1px;
    width: 80%;
}
/* Bouttons du menu */
button {

    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    background-color: #FACC2E;
    border: none;
}

button:hover {

    cursor: pointer;
    box-shadow: 4px 4px 4px 4px #585858;
    transition: 0.3s;
}
/* Lien des bouttons */
a {

    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.25em;
    color: #585858;
}
/* Titres des parties */
h2 {

    margin-top: 100px;
    text-align: center;
    color: #585858;
    letter-spacing: 0.25em;
}

/* Style du Header */

.highPage {

    width: 100%;/* Le header va prendre toute la largeur de la page */
    display: flex;/* Le header va être flexible et on pourra agencer son contenu */
    justify-content: space-between;/* Le contenu du header s'affiche en ligne avec des espaces entre chaque éléments */
}

.highTitleName {

    margin-left: 20px;
}

.highTitleLastName {

    margin-right: 20px;
}

.highPicture {

    width: 150px;
    height: 150px;
    transform: rotate(90deg);/* Propriété qui va axer l'image sur un point d'origine, ici on tourne à 90° autour de son point */
    border-width: 2px;
    border-style: outset;/* Bordure qui fait apparaître l'élément en relief */
    border-color: #FACC2E;
    border-radius: 50%;
}

/* Style du Main */

/* Le nav qui contient les 4 bouttons */
.nav {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;/* Les boutons sont affiché en colonne */

}
/* Les paragraphes de la partie introduction */
.introParagraph {

    margin-top: 50px;
    color: #585858;
    letter-spacing: 0.1em;
    padding-left: 10px;
    line-height: 2rem;/* Espacement entre les lignes */
}
/* Les paragraphes de la partie formation */
.mainParagraphFormation {

    margin-top: 20px;
    color: #585858;
    letter-spacing: 0.1em;
    padding-left: 10px;
    line-height: 2rem;
}
/* La div (gauche->penser pour flexbox) contenant un titre et une image */
.mainLeftDivExperience {

    width: 80%;/* La div prend 80% dans la largeur de la page */
    margin-left: auto;
    margin-right: auto;
}
/* Titre de la div de (gauche)*/
.mainTitleExperience {

    color: #FACC2E;
    text-align: center;
    letter-spacing: 0.25em;
}
/* Image de la div de (gauche) */
.mainImgExperience {

    width: 250px;
    padding-left: 50px;
}
/* Paragraphe de la div de (droite) */
.mainParagraphExperience {

    color: #585858;
    margin-bottom: 20px;
    letter-spacing: 0.1em;
    padding-left: 10px;
    line-height: 2rem;
}

/* Responsive */

@media screen and (min-width: 600px) 
{
    /* Tablettes */
    .highTitleName {

        margin-left: 20px;
        letter-spacing: 0.5em;
        font-size: 30px;
    }
    .highTitleLastName {

        margin-right: 20px;
        letter-spacing: 0.5em;
        font-size: 30px;
    }
    .nav {

        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;/* A 600px le menu avec les boutons seront sur une seule ligne */
    }
    button {

        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .presentation {

        width: 80%;/* A 600px le contenu de la div ne prendra que 80% de sa largeur */
        margin-left: auto;
        margin-right: auto;
    }
    .mainDivFormations {

        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .mainImgExperience {

        padding-left: 100px;
    }
    .mainRightDivExperience {

        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

} 

@media screen and (min-width: 900px) 
{
    /* Tablette avec écran plus grand */
    .highTitleName {

        font-size: 40px;
        margin-left: 30px;
    }
    .highTitleLastName {

        font-size: 40px;
        margin-right: 30px;
    }
    button {

        margin-left: 60px;
        margin-right: 60px;
    }
    .presentation {

        width: 60%;/* A 900px le contenu de la div ne prendra que 60% de sa largeur */
        margin-left: auto;
        margin-right: auto;
    }
    .mainDivFormations {

        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .mainImgExperience {

        padding-left: 225px;/* A partir de 900px l'image sera décaler de 225px vers la droite pour quel soit centrer (technique à revoir peut-être utiliser flexbox) */
    }
    .mainRightDivExperience {

        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1200px)
{
    /* Ordinateur */
    .highTitleName {

        margin-left: 200px;
    }
    .highTitleLastName {

        margin-right: 200px;
    }
    button {

        margin-left: 100px;
        margin-right: 100px;
    }
    .presentation {

        width: 40%;/* A 1200px le contenu de la div ne prendra que 40% de sa largeur */
        margin-left: auto;
        margin-right: auto;
    }
    .mainDivFormations {

        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
    .mainImgExperience {

        padding-left: 325px;
    }
    .mainRightDivExperience {

        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
}